.form {
    width: 80%;
}

.form .row {
    padding-top: 10px;
    display: flex;
    align-items: center; 

}

.form .zipInput{
    height: 10%;
    width: 65%;
    margin-right: 2% ;
}

.form .submitButton {
    width: 18%;
    height: 40px;
    margin-right: 2% ;
    padding-bottom: 2px ;
}

.form .currentLocation {
    width: 10%;
    height: 40px;
    margin-right: 2% ;
    padding-bottom: 2px ; 
}

.form p {
    width: 20%;
}

.form .slider {
    width: 75.5%;
}

.form .row .checkbox {
    margin-right: 20px;
}
