.form {
    width: 70%;
    margin: 0 auto; /* Add margin: 0 auto; to center horizontally */
    display: flex; /* Use flex container */
    flex-direction: column; /* Align items vertically */
    box-shadow: 0px 5px 50px 5px rgba(0, 0, 0, 0.4);
}

.form .row {
    padding-top: 10px;
    display: flex;
    align-items: center; 

}

.form .zipInput{
    height: 10%;
    width: 100%;
    margin-right: 2%;
    padding: 10px;
    margin-bottom: 1%;
}

.form .submitButton {
    width: 18%;
    height: 40px;
    margin-right: 2% ;
    padding-bottom: 2px ;
}

.form .currentLocation {
    width: 10%;
    height: 40px;
    margin-right: 2% ;
    padding-bottom: 2px ; 
}

.form p {
    width: 20%;
}

.form .slider {
    width: 75.5%;
}

.form .row .checkbox {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.form .row .checkbox label {
    margin: 0;
}

.form .row .checkbox input {
    margin-right: 5px;
}